<div id="<%= dom_id friendss %>">
  <p>
    <strong>Firsst name:</strong>
    <%= friendss.firsst_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friendss.last_name %>
  </p>

  <p>
    <strong>E mail:</strong>
    <%= friendss.e_mail %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friendss.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friendss.twitter %>
  </p>

</div>
